In [1]:
import numpy as np
import pandas as pd
import itertools
import random
from tqdm import tqdm
import re
from wordle_helpers import anagram_scoring, all_anagram_scoring

import os
# where to save the data
ROOT_DIR = "."
FOLDER_NAME = "data"
PATH_TO_FOLDER = os.path.join(ROOT_DIR, FOLDER_NAME)
os.makedirs(PATH_TO_FOLDER, exist_ok=True)

## Load data

In [2]:
anagrams = pd.read_csv("./data/anagrams.csv")

In [3]:
anagrams

      word             anagrams
0    abode         abode, adobe
1    abort         abort, tabor
2    acred         acred, cader
3    acrid         acrid, caird
4    adept         adept, pated
..     ...                  ...
382  worth  worth, wroth, whort
383  wrath         wrath, thraw
384  wreak         wreak, waker
385  wrote         wrote, tower
386  wroth         wroth, whort

[387 rows x 2 columns]

In [4]:
anagrams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   word      387 non-null    object
 1   anagrams  387 non-null    object
dtypes: object(2)
memory usage: 6.2+ KB

In [5]:
anagrams["word"].nunique()

387

## Number of anagrams

In [6]:
my_list_of_anagrams = [x.split(", ") for x in anagrams["anagrams"]]

In [90]:
my_list_of_anagrams[:10]

[['abode', 'adobe'],
 ['abort', 'tabor'],
 ['acred', 'cader'],
 ['acrid', 'caird'],
 ['adept', 'pated'],
 ['adore', 'oread'],
 ['afire', 'feria'],
 ['aider', 'irade'],
 ['aitch', 'chati'],
 ['alert', 'alter']]

In [8]:
vec = np.vectorize(len)

In [9]:
num_anagrams_per_list = vec(np.array(my_list_of_anagrams, dtype=object))
num_anagrams_per_list

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       3, 2, 2, 4, 2, 2, 4, 2, 3, 3, 3, 4, 2, 2, 2, 4, 2, 3, 5, 2, 2, 2,
       3, 2, 2, 2, 2, 4, 3, 2, 2, 2, 2, 3, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2, 2, 2, 4, 2, 2,
       2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2, 4, 2, 3, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 3, 2, 2, 4, 2, 2, 2, 2, 3, 2, 3, 2,
       3, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 3, 2, 2, 2, 2,
       3, 2, 2, 3, 4, 2, 2, 2, 2, 2, 3, 2, 2, 2, 4, 2, 2, 2, 2, 2, 3, 2,
       3, 2, 2, 3, 3, 2, 2, 2, 2, 2, 3, 2, 5, 4, 2, 2, 2, 4, 4, 6, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 2, 3, 2, 5, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2,
       2, 4, 4, 2, 2, 2, 2, 3, 2, 3, 2, 5, 2, 2, 2, 3, 2, 3, 2, 2, 3, 2,
       3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 5, 2, 2, 3, 2, 2, 2,
       3, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 4, 5, 4, 2, 2, 3, 2, 2, 2, 3,
       3, 4, 2, 4, 2, 2, 7, 2, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 6, 4, 2,
       2, 2, 2, 3, 2, 2, 2, 4, 2, 3, 2, 3, 2, 6, 2, 3, 2, 2, 6, 2, 2, 3,
       2, 3, 2, 2, 2, 2, 3, 4, 2, 2, 2, 2, 2, 4, 2, 2, 2, 3, 3, 2, 5, 3,
       3, 3, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 3, 2, 2, 3, 3, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 4, 2, 3, 2, 2, 2, 2])

In [10]:
anagrams["num_anagrams"] = num_anagrams_per_list

In [11]:
anagrams

      word             anagrams  num_anagrams
0    abode         abode, adobe             2
1    abort         abort, tabor             2
2    acred         acred, cader             2
3    acrid         acrid, caird             2
4    adept         adept, pated             2
..     ...                  ...           ...
382  worth  worth, wroth, whort             3
383  wrath         wrath, thraw             2
384  wreak         wreak, waker             2
385  wrote         wrote, tower             2
386  wroth         wroth, whort             2

[387 rows x 3 columns]

In [12]:
anagrams.loc[anagrams["num_anagrams"] == anagrams["num_anagrams"].max()]

      word                                         anagrams  num_anagrams
292  steal  steal, tales, slate, stale, satle, stela, astel             7

In [13]:
index_loc = np.where(num_anagrams_per_list == np.max(num_anagrams_per_list))
index_loc

(array([292]),)

In [14]:
index_loc[0][0]

292

In [15]:
my_list_of_anagrams[index_loc[0][0]]

['steal', 'tales', 'slate', 'stale', 'satle', 'stela', 'astel']

In [16]:
combo_words_1 = [combo for combo in itertools.combinations(my_list_of_anagrams[index_loc[0][0]], 2)]
combo_words_1

[('steal', 'tales'),
 ('steal', 'slate'),
 ('steal', 'stale'),
 ('steal', 'satle'),
 ('steal', 'stela'),
 ('steal', 'astel'),
 ('tales', 'slate'),
 ('tales', 'stale'),
 ('tales', 'satle'),
 ('tales', 'stela'),
 ('tales', 'astel'),
 ('slate', 'stale'),
 ('slate', 'satle'),
 ('slate', 'stela'),
 ('slate', 'astel'),
 ('stale', 'satle'),
 ('stale', 'stela'),
 ('stale', 'astel'),
 ('satle', 'stela'),
 ('satle', 'astel'),
 ('stela', 'astel')]

In [17]:
len(anagrams["word"])

387

In [18]:
challenge = my_list_of_anagrams[index_loc[0][0]][0]
challenge

'steal'

## Scoring anagrams

In [19]:
guess_anagrams = my_list_of_anagrams[index_loc[0][0]][1:]
guess_anagrams

['tales', 'slate', 'stale', 'satle', 'stela', 'astel']

In [20]:
data = []
for guess in guess_anagrams:
    paired = zip(challenge, guess)
    scores = np.zeros(5, dtype=np.int8)
    for x, (i, j) in enumerate(paired):
#         print((x, (i, j)))
        if i == j:
            scores[x] = 1
        elif i != j and j in challenge:
            scores[x] = 0
        else:
            scores[x] = -1
            
    temp = {
        "challenge_word": challenge,
        "guess": guess,
        "positional_scores": re.sub(r"[\[\]]", "", str(scores)).replace("\n", ","),
        "overall_scores": np.sum(scores, dtype=np.int8),
    }
    data.append(temp)

In [21]:
df = pd.DataFrame(data)

In [22]:
df

  challenge_word  guess positional_scores  overall_scores
0          steal  tales         0 0 0 0 0               0
1          steal  slate         1 0 0 0 0               1
2          steal  stale         1 1 0 0 0               2
3          steal  satle         1 0 0 0 0               1
4          steal  stela         1 1 1 0 0               3
5          steal  astel         0 0 0 0 1               1

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   challenge_word     6 non-null      object
 1   guess              6 non-null      object
 2   positional_scores  6 non-null      object
 3   overall_scores     6 non-null      int8
dtypes: int8(1), object(3)
memory usage: 278.0+ bytes

In [24]:
anagrams.loc[anagrams["num_anagrams"] == 3].iloc[:10]

      word             anagrams  num_anagrams
11   alien  alien, aline, anile             3
22   ample  ample, maple, pelma             3
30   argol  argol, algor, orgal             3
31   argon  argon, orang, angor             3
32   aries  aries, serai, aesir             3
39   aster  aster, tarse, arest             3
44   cadre  cadre, acred, cader             3
50   caple  caple, capel, clape             3
55   cater  cater, creat, caret             3
103  cupel  cupel, pucel, pecul             3

In [25]:
words = my_list_of_anagrams[index_loc[0][0]]
words

['steal', 'tales', 'slate', 'stale', 'satle', 'stela', 'astel']

In [26]:
guesses = my_list_of_anagrams[index_loc[0][0]]
guesses

['steal', 'tales', 'slate', 'stale', 'satle', 'stela', 'astel']

In [27]:
data2 = []
for guess in guesses:
    for word in words:
        paired_guess_word = zip(word, guess)
        score = np.zeros(5, dtype=np.int8)
        for x, (i, j) in enumerate(paired_guess_word):
            if i == j:
                score[x] = 1
            elif i != j and j in word:
                score[x] = 0
            else:
                score[x] = -1
            
        temp2 = {
            "challenge_word": word,
            "guess": guess,
            "positional_scores": re.sub(r"[\[\]]", "", str(score)).replace("\n", ","),
        }
        data2.append(temp2)
df2 = pd.DataFrame(data2)
df2[:10]

  challenge_word  guess positional_scores
0          steal  steal         1 1 1 1 1
1          tales  steal         0 0 0 0 0
2          slate  steal         1 0 0 0 0
3          stale  steal         1 1 0 0 0
4          satle  steal         1 0 0 0 0
5          stela  steal         1 1 1 0 0
6          astel  steal         0 0 0 0 1
7          steal  tales         0 0 0 0 0
8          tales  tales         1 1 1 1 1
9          slate  tales         0 0 0 0 0

### Scoring each anagram against itself

In [28]:
print(guesses)
print(words)

['steal', 'tales', 'slate', 'stale', 'satle', 'stela', 'astel']
['steal', 'tales', 'slate', 'stale', 'satle', 'stela', 'astel']

In [29]:
len(guesses)

7

In [30]:
data3 = []
num_guesses = len(words)
counter = 0

while counter < num_guesses:
    for word in words:
        guess = words[counter]
        combo_guess_word = zip(guess, word)
        scores = np.zeros(5, dtype=np.int8)
        for x, (i, j) in enumerate(combo_guess_word):
            if i == j:
                scores[x] = 1
            elif i != j and j in word:
                scores[x] = 0
            else:
                scores[x] = -1
        data3.append(re.sub(r"[\[\]]", "", str(scores)).replace("\n", ","))
    counter += 1

In [31]:
data3[:7]

['1 1 1 1 1',
 '0 0 0 0 0',
 '1 0 0 0 0',
 '1 1 0 0 0',
 '1 0 0 0 0',
 '1 1 1 0 0',
 '0 0 0 0 1']

In [32]:
len(data3), num_guesses

(49, 7)

In [33]:
# Every 7th value (num guesses) in data3 represents the next guess word scored against the challenge word
# so we can reshape data3 to be a 7x7 array
np.array(data3).reshape(num_guesses, num_guesses)

array([['1 1 1 1 1', '0 0 0 0 0', '1 0 0 0 0', '1 1 0 0 0', '1 0 0 0 0',
        '1 1 1 0 0', '0 0 0 0 1'],
       ['0 0 0 0 0', '1 1 1 1 1', '0 0 0 0 0', '0 0 0 0 0', '0 1 0 0 0',
        '0 0 0 0 0', '0 0 0 1 0'],
       ['1 0 0 0 0', '0 0 0 0 0', '1 1 1 1 1', '1 0 1 0 1', '1 0 0 0 1',
        '1 0 0 0 0', '0 0 0 0 0'],
       ['1 1 0 0 0', '0 0 0 0 0', '1 0 1 0 1', '1 1 1 1 1', '1 0 0 1 1',
        '1 1 0 1 0', '0 0 0 0 0'],
       ['1 0 0 0 0', '0 1 0 0 0', '1 0 0 0 1', '1 0 0 1 1', '1 1 1 1 1',
        '1 0 0 1 0', '0 0 1 0 0'],
       ['1 1 1 0 0', '0 0 0 0 0', '1 0 0 0 0', '1 1 0 1 0', '1 0 0 1 0',
        '1 1 1 1 1', '0 0 0 0 0'],
       ['0 0 0 0 1', '0 0 0 1 0', '0 0 0 0 0', '0 0 0 0 0', '0 0 1 0 0',
        '0 0 0 0 0', '1 1 1 1 1']], dtype='<U9')

In [34]:
df3 = pd.DataFrame(np.array(data3).reshape(7, 7), columns=words, index=guesses)

In [35]:
df3

,steal,tales,slate,stale,satle,stela,astel
steal,1 1 1 1 1,0 0 0 0 0,1 0 0 0 0,1 1 0 0 0,1 0 0 0 0,1 1 1 0 0,0 0 0 0 1
tales,0 0 0 0 0,1 1 1 1 1,0 0 0 0 0,0 0 0 0 0,0 1 0 0 0,0 0 0 0 0,0 0 0 1 0
slate,1 0 0 0 0,0 0 0 0 0,1 1 1 1 1,1 0 1 0 1,1 0 0 0 1,1 0 0 0 0,0 0 0 0 0
stale,1 1 0 0 0,0 0 0 0 0,1 0 1 0 1,1 1 1 1 1,1 0 0 1 1,1 1 0 1 0,0 0 0 0 0
satle,1 0 0 0 0,0 1 0 0 0,1 0 0 0 1,1 0 0 1 1,1 1 1 1 1,1 0 0 1 0,0 0 1 0 0
stela,1 1 1 0 0,0 0 0 0 0,1 0 0 0 0,1 1 0 1 0,1 0 0 1 0,1 1 1 1 1,0 0 0 0 0
astel,0 0 0 0 1,0 0 0 1 0,0 0 0 0 0,0 0 0 0 0,0 0 1 0 0,0 0 0 0 0,1 1 1 1 1

### Take the anagram dataframe and randomly select a word to display the scoring

In [89]:
# show score for random anagrams
anagram_scoring_df = anagram_scoring(anagrams)
anagram_scoring_df

           predy      perdy
predy  1 1 1 1 1  1 0 0 1 1
perdy  1 0 0 1 1  1 1 1 1 1

### Score all anagrams against each other. The scoring partners which aren't anagrams will contain `-1s`

In [38]:
all_anagram_scoring_df = all_anagram_scoring(anagrams)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 672/672 [00:21<00:00, 31.37it/s]

In [39]:
all_anagram_scoring_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 672 entries, clear to curia
Columns: 672 entries, clear to curia
dtypes: object(672)
memory usage: 3.5+ MB

In [40]:
all_anagram_scoring_df

,clear,wythe,algin,crois,chyle,cadge,slide,found,chore,adobe,...,shore,sport,swart,taper,tired,manis,stone,predy,other,curia
clear,1 1 1 1 1,-1 -1 -1 -1 0,0 1 -1 -1 -1,1 0 -1 -1 -1,1 -1 -1 0 0,1 0 -1 -1 0,-1 1 -1 -1 0,-1 -1 -1 -1 -1,1 -1 -1 0 0,0 -1 -1 -1 0,...,-1 -1 -1 0 0,-1 -1 -1 0 -1,-1 -1 0 0 -1,-1 0 -1 0 1,-1 -1 0 0 -1,-1 0 -1 -1 -1,-1 -1 -1 -1 0,-1 0 1 -1 -1,-1 -1 -1 0 1,1 -1 0 -1 0
wythe,-1 -1 0 -1 -1,1 1 1 1 1,-1 -1 -1 -1 -1,-1 -1 -1 -1 -1,-1 0 0 -1 1,-1 -1 -1 -1 1,-1 -1 -1 -1 1,-1 -1 -1 -1 -1,-1 0 -1 -1 1,-1 -1 -1 -1 1,...,-1 0 -1 -1 1,-1 -1 -1 -1 0,-1 0 -1 -1 0,0 -1 -1 0 -1,0 -1 -1 0 -1,-1 -1 -1 -1 -1,-1 0 -1 -1 1,-1 -1 0 -1 0,-1 0 0 0 -1,-1 -1 -1 -1 -1
algin,-1 1 -1 0 -1,-1 -1 -1 -1 -1,1 1 1 1 1,-1 -1 -1 1 -1,-1 -1 -1 0 -1,-1 0 -1 0 -1,-1 1 0 -1 -1,-1 -1 -1 0 -1,-1 -1 -1 -1 -1,1 -1 -1 -1 -1,...,-1 -1 -1 -1 -1,-1 -1 -1 -1 -1,-1 -1 0 -1 -1,-1 0 -1 -1 -1,-1 0 -1 -1 -1,-1 0 0 1 -1,-1 -1 -1 0 -1,-1 -1 -1 -1 -1,-1 -1 -1 -1 -1,-1 -1 -1 1 0
crois,1 -1 -1 -1 0,-1 -1 -1 -1 -1,-1 -1 -1 1 -1,1 1 1 1 1,1 -1 -1 -1 -1,1 -1 -1 -1 -1,0 -1 0 -1 -1,-1 0 -1 -1 -1,1 -1 1 0 -1,-1 -1 1 -1 -1,...,0 -1 1 0 -1,0 -1 1 0 -1,0 -1 -1 0 -1,-1 -1 -1 -1 0,-1 0 0 -1 -1,-1 -1 -1 1 1,0 -1 1 -1 -1,-1 1 -1 -1 -1,0 -1 -1 -1 0,1 -1 0 1 -1
chyle,1 0 0 -1 -1,-1 0 -1 0 1,-1 0 -1 -1 -1,1 -1 -1 -1 -1,1 1 1 1 1,1 -1 -1 -1 1,-1 0 -1 -1 1,-1 -1 -1 -1 -1,1 1 -1 -1 1,-1 -1 -1 -1 1,...,-1 1 -1 -1 1,-1 -1 -1 -1 -1,-1 -1 -1 -1 -1,-1 -1 -1 0 -1,-1 -1 -1 0 -1,-1 -1 -1 -1 -1,-1 -1 -1 -1 1,-1 -1 0 -1 0,-1 -1 0 0 -1,1 -1 -1 -1 -1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
manis,-1 -1 -1 0 -1,-1 -1 -1 -1 -1,0 -1 -1 1 0,-1 -1 -1 1 1,-1 -1 -1 -1 -1,-1 1 -1 -1 -1,0 -1 0 -1 -1,-1 -1 -1 0 -1,-1 -1 -1 -1 -1,0 -1 -1 -1 -1,...,0 -1 -1 -1 -1,0 -1 -1 -1 -1,0 -1 0 -1 -1,-1 1 -1 -1 -1,-1 0 -1 -1 -1,1 1 1 1 1,0 -1 -1 0 -1,-1 -1 -1 -1 -1,-1 -1 -1 -1 -1,-1 -1 -1 1 0
stone,-1 -1 0 -1 -1,-1 -1 0 -1 1,-1 -1 -1 -1 0,-1 -1 1 -1 0,-1 -1 -1 -1 1,-1 -1 -1 -1 1,1 -1 -1 -1 1,-1 0 -1 1 -1,-1 -1 1 -1 1,-1 -1 1 -1 1,...,1 -1 1 -1 1,1 -1 1 -1 0,1 -1 -1 -1 0,0 -1 -1 0 -1,0 -1 -1 0 -1,-1 -1 0 -1 0,1 1 1 1 1,-1 -1 0 -1 -1,0 1 -1 0 -1,-1 -1 -1 -1 -1
predy,-1 -1 1 -1 0,-1 0 -1 -1 0,-1 -1 -1 -1 -1,-1 1 -1 -1 -1,-1 -1 0 -1 0,-1 -1 0 -1 0,-1 -1 -1 1 0,-1 -1 -1 -1 0,-1 -1 -1 0 0,-1 0 -1 -1 0,...,-1 -1 -1 0 0,-1 0 -1 0 -1,-1 -1 -1 0 -1,-1 -1 0 0 0,-1 -1 0 0 0,-1 -1 -1 -1 -1,-1 -1 -1 -1 0,1 1 1 1 1,-1 -1 -1 0 0,-1 -1 0 -1 -1
other,-1 -1 0 -1 1,-1 -1 0 0 0,-1 -1 -1 -1 -1,-1 0 0 -1 -1,-1 0 -1 -1 0,-1 -1 -1 -1 0,-1 -1 -1 -1 0,-1 0 -1 -1 -1,-1 0 0 0 0,-1 -1 0 -1 0,...,-1 0 0 0 0,-1 -1 0 0 0,-1 -1 -1 0 0,0 -1 -1 1 1,0 -1 0 1 -1,-1 -1 -1 -1 -1,-1 1 0 -1 0,-1 0 0 -1 -1,1 1 1 1 1,-1 -1 0 -1 -1
curia,1 -1 -1 0 0,-1 -1 -1 -1 -1,0 -1 -1 1 -1,1 0 -1 1 -1,1 -1 -1 -1 -1,1 0 -1 -1 -1,-1 -1 0 -1 -1,-1 -1 0 -1 -1,1 -1 -1 0 -1,0 -1 -1 -1 -1,...,-1 -1 -1 0 -1,-1 -1 -1 0 -1,-1 -1 0 0 -1,-1 0 -1 -1 0,-1 0 1 -1 -1,-1 0 -1 1 -1,-1 -1 -1 -1 -1,-1 0 -1 -1 -1,-1 -1 -1 -1 0,1 1 1 1 1

In [41]:
all_anagram_scoring_df.to_csv("./data/all_anagram_scoring.csv", index=False)

## 5 bit binary  

Scoring of anagrams produces 5 bit binary with range from `00000` to `11111` `(0 to 31)`.  
- `00000`, all letter are in wrong place
- `11111`, letters matched correctly

In [42]:
df3

,steal,tales,slate,stale,satle,stela,astel
steal,1 1 1 1 1,0 0 0 0 0,1 0 0 0 0,1 1 0 0 0,1 0 0 0 0,1 1 1 0 0,0 0 0 0 1
tales,0 0 0 0 0,1 1 1 1 1,0 0 0 0 0,0 0 0 0 0,0 1 0 0 0,0 0 0 0 0,0 0 0 1 0
slate,1 0 0 0 0,0 0 0 0 0,1 1 1 1 1,1 0 1 0 1,1 0 0 0 1,1 0 0 0 0,0 0 0 0 0
stale,1 1 0 0 0,0 0 0 0 0,1 0 1 0 1,1 1 1 1 1,1 0 0 1 1,1 1 0 1 0,0 0 0 0 0
satle,1 0 0 0 0,0 1 0 0 0,1 0 0 0 1,1 0 0 1 1,1 1 1 1 1,1 0 0 1 0,0 0 1 0 0
stela,1 1 1 0 0,0 0 0 0 0,1 0 0 0 0,1 1 0 1 0,1 0 0 1 0,1 1 1 1 1,0 0 0 0 0
astel,0 0 0 0 1,0 0 0 1 0,0 0 0 0 0,0 0 0 0 0,0 0 1 0 0,0 0 0 0 0,1 1 1 1 1

In [43]:
int("11111", 2)

31

In [44]:
int("00000", 2)

0

In [45]:
int("10000", 2)

16

In [46]:
int("10101", 2)

21

**`stale` contains 24 bits of information necessary to describe `steal`**

In [47]:
int("11000", 2)

24

In [48]:
int("00100", 2)

4

In [49]:
df3.loc[df3.index.isin(["stale"])]

,steal,tales,slate,stale,satle,stela,astel
stale,1 1 0 0 0,0 0 0 0 0,1 0 1 0 1,1 1 1 1 1,1 0 0 1 1,1 1 0 1 0,0 0 0 0 0

In [50]:
stale = df3.loc[df3.index.isin(["stale"])].T
stale

           stale
steal  1 1 0 0 0
tales  0 0 0 0 0
slate  1 0 1 0 1
stale  1 1 1 1 1
satle  1 0 0 1 1
stela  1 1 0 1 0
astel  0 0 0 0 0

In [51]:
df3.loc[df3.index.isin(["stale"])].squeeze()

steal    1 1 0 0 0
tales    0 0 0 0 0
slate    1 0 1 0 1
stale    1 1 1 1 1
satle    1 0 0 1 1
stela    1 1 0 1 0
astel    0 0 0 0 0
Name: stale, dtype: object

In [52]:
pd.DataFrame(df3.loc[df3.index.isin(["stale"])].squeeze())

           stale
steal  1 1 0 0 0
tales  0 0 0 0 0
slate  1 0 1 0 1
stale  1 1 1 1 1
satle  1 0 0 1 1
stela  1 1 0 1 0
astel  0 0 0 0 0

In [53]:
stale_binaries = df3.loc[df3.index.isin(["stale"])].squeeze().tolist()
stale_binaries

['1 1 0 0 0',
 '0 0 0 0 0',
 '1 0 1 0 1',
 '1 1 1 1 1',
 '1 0 0 1 1',
 '1 1 0 1 0',
 '0 0 0 0 0']

In [54]:
stale_binaries[0]

'1 1 0 0 0'

In [57]:
"".join(stale_binaries[0].split())

'11000'

In [58]:
int("".join(stale_binaries[0].split()), 2)

24

In [59]:
stale_binaries = ["".join(x.split()) for x in stale_binaries]
stale_binaries

['11000', '00000', '10101', '11111', '10011', '11010', '00000']

In [60]:
[int(binary, 2) for binary in stale_binaries]

[24, 0, 21, 31, 19, 26, 0]

In [62]:
scare = all_anagram_scoring_df.loc[all_anagram_scoring_df.index.isin(["scare"])].squeeze()
scare

clear     0 -1  0  0  0
wythe    -1 -1 -1 -1  1
algin     0 -1 -1 -1 -1
crois     0  0 -1 -1  0
chyle     0 -1 -1 -1  1
              ...
manis    -1  0 -1 -1  0
stone     1 -1 -1 -1  1
predy    -1  0  0 -1 -1
other    -1 -1 -1  0  0
curia     0 -1  0 -1  0
Name: scare, Length: 672, dtype: object

In [74]:
#  you can find the scores for scare by filtering out those with -1
cols = [(idx, binary) for idx, binary in enumerate(scare) if "-1" not in binary]
cols

[(62, '1 1 1 1 1'),
 (206, '1 0 0 0 0'),
 (274, '0 0 1 0 1'),
 (393, '1 0 0 1 1'),
 (520, '0 0 0 0 1')]

In [64]:
scare_cols = [col[0] for col in cols]
scare_cols

[62, 206, 274, 393, 520]

In [65]:
all_anagram_scoring_df.iloc[scare_cols, scare_cols]

           scare      serac      crase      sacre      carse
scare  1 1 1 1 1  1 0 0 0 0  0 0 1 0 1  1 0 0 1 1  0 0 0 0 1
serac  1 0 0 0 0  1 1 1 1 1  0 0 0 0 0  1 0 0 0 0  0 0 1 0 0
crase  0 0 1 0 1  0 0 0 0 0  1 1 1 1 1  0 0 0 0 1  1 0 0 1 1
sacre  1 0 0 1 1  1 0 0 0 0  0 0 0 0 1  1 1 1 1 1  0 1 0 0 1
carse  0 0 0 0 1  0 0 1 0 0  1 0 0 1 1  0 1 0 0 1  1 1 1 1 1

In [66]:
# remove spaces
all_anagram_scoring_df.iloc[scare_cols, scare_cols].applymap(lambda x: "".join(x.split()))

       scare  serac  crase  sacre  carse
scare  11111  10000  00101  10011  00001
serac  10000  11111  00000  10000  00100
crase  00101  00000  11111  00001  10011
sacre  10011  10000  00001  11111  01001
carse  00001  00100  10011  01001  11111

In [67]:
# convert to int
(all_anagram_scoring_df.iloc[scare_cols, scare_cols]
 .applymap(lambda x: "".join(x.split()))
 .applymap(lambda x: int(x, 2)))

       scare  serac  crase  sacre  carse
scare     31     16      5     19      1
serac     16     31      0     16      4
crase      5      0     31      1     19
sacre     19     16      1     31      9
carse      1      4     19      9     31

In [68]:
(all_anagram_scoring_df.iloc[scare_cols, scare_cols]
 .applymap(lambda x: "".join(x.split()))
 .applymap(lambda x: int(x, 2))
 .assign(sum_across=lambda x: x.sum())
 .astype(np.int8))

       scare  serac  crase  sacre  carse  sum_across
scare     31     16      5     19      1          72
serac     16     31      0     16      4          67
crase      5      0     31      1     19          56
sacre     19     16      1     31      9          76
carse      1      4     19      9     31          64

## Anagram cipher lookup table  
With `itertools.zip_longest` you can create an encode/decode lookup table for 4, 5 and 6 letter anagrams.

In [69]:
list(itertools.zip_longest("taper", "slip"))

[('t', 's'), ('a', 'l'), ('p', 'i'), ('e', 'p'), ('r', None)]

In [70]:
list(itertools.zip_longest("taper", "scare"))

[('t', 's'), ('a', 'c'), ('p', 'a'), ('e', 'r'), ('r', 'e')]

In [71]:
if all(("r", None)):
    print("Hurrah!!")
else:
    print("we are not the same")

we are not the same

In [72]:
type(None)

NoneType

In [73]:
"r" == None

False